.form {
  display: flex;
  border: 2px solid rgba(211, 211, 211, 0.397);
  border-radius: 20px;
  margin: 1% 1% 1% 1%;
}

.input {
  background-color: #1a1a1d;
  color: white;
  border: 0;
  border-radius: 20px;
  padding: 0% 5% 0% 5%;
  width: 100%;
  font-size: 0.8em;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
}

.sendButton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: rgb(15, 102, 0);
  margin-right: 5%;
  display: inline-block;
  border: none;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}